@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font: normal 14px/20px ALS Sirius,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    /* background-color: #f5b6b6; */
    background-color: #e9f3ff;
}

.container {
    margin: auto;
    max-width: 1366px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}


.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.back_head{
    background-color: #333;
    position: relative;
  }
button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}
.content{
    box-sizing: border-box;
    max-width: 1536px;
    margin: 0 auto;
    padding: 20px 50px;
    padding-bottom: 90px;
    position: relative;
    height: 100vh;
    padding-bottom: 80px;
    flex:1;
}
.footer{
    background-color: #333;
    color: #ccc;
    height: 80px;
    display: flex;
        justify-content: center;
        align-items:center ;
    padding: 20px 50px;
    position: sticky;
    bottom: 0;    
}



a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #553737;
    text-decoration: none;
}
.logo img{
    width: 95px;
    height: auto;
}
.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    max-width: 1536px;
    margin: 0 auto;
    width: calc(90vw );
    }
ul{
    list-style: none;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.main-nav ul {
    display: flex;
 }
 .main-nav ul li {
    margin-right: 40px;
}
.main-nav ul li button{
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    display: contents;
    font: normal 14px/20px ALS Sirius,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
.main-nav ul li button:hover {
    color: #553737;
}
.header_search {
    height: 10%;
    display: flex;
  }
.header_search_input{
    width: 14vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.header_search_button{
    padding: 10px 15px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.header_search_button:hover {
    border: 1px solid #014792;
    background-color: #014792;
}
.products {
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding-top: 20px;
}
.card{
    padding: 20px 30px;
    width: 200px;
    height: 320px;
    flex: 0 0 auto;
}
.card img {
    height: 250px;
    max-width: 200px;
}
.card-text {
    margin: 0px;
    color: #ccc;
}
.card-body :last-child{
    margin-bottom: 20px;
}
.FunctionalBlock{
    display: inline;
}
.FunctionalBlock button{
    width: auto;
    color: #3d3dc7;
    color: var(--link-color,#3d3dc7);
    text-decoration: none;
}
.FunctionalBlock_button:hover{
    color: #5757e4;
}
.FunctionalBlock_save_text{
    white-space: nowrap;
}
.FunctionalBlock_save_icon{
    margin-right: 10px;
}
/* .FunctionalBlock ul{
justify-content: center;
} */
.FunctionalBlock ul li{
    display: flex;
}
.layout_book{
    flex: 1 0 auto;
    min-height: 400px;
}

.left_info{
    margin-left: 30px;
    width: 286px;
    margin-top: 30px;
}
.left_info img{width: 180px;
padding-bottom: 10px;}
.left_info a{
    padding: 10px 22px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
    width: 180px;
}
.left_info a:hover {
    border: 1px solid #014792;
    background-color: #014792;
    text-decoration: none;
}
.book_main{
    display: flex;
}

.right_info{
    padding: 10px 20px;
    width: 400px;
}
.right_info a{
    padding: 10px 15px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
}

.right_info a:hover{
    border: 1px solid #014792;
    background-color: #014792;
}
.right_info p{
    margin: 30px 0;
    
}
.type_book{
    display: inline-flex;
}
.type_book div:last-child{margin-left: 10px;}
.author{
    display: inline-flex;
    align-items: center;
}
.center_info{
    padding: 0 20px;
    width: 1500px;
}
.author a img{
    border-radius: 30px;
}
.author a:last-child{
    margin-left: 9px;
}
.genres{
    display: flex;
}
.genres a{
    margin-right: 10px;
}
.date_of_writing{
    display: flex;
}
.author_page{
    padding-left: 2%;
    padding-top: 2%;
    display: flex;
}
.books_list{
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}
.author_info{padding-left: 2%;}
.read_text{
    font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: justify;
}
.download_book a{
    padding: 15px 200px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
}
.download_book a:hover {
    border: 1px solid #014792;
    background-color: #014792;
}
.container_books {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #bdcee1;
}
.slider__btn_prev,
.slider__btn_next {
    cursor: pointer;
    position: absolute; 
    top: 50%; 
    transform: translateY(-150%); 
    width: 30px;
    height: 30px;
    background-color: white;
    border: #000000;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 300px;
    z-index: 1;
}

.slider__btn_prev {
    left: 0; 
}

.slider__btn_next {
    right: 0;
}
.genre-form{
    height: 300px;
    width: 1000px;
}
.container-authors{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}
.card-author{
    padding: 20px 30px;
    width: 256px;
    flex: 0 0 auto;
    margin-right: 20px;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.dialog-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
}

.gen, .type {
    flex: 1;
}

.gen {
    margin-right: 100px; 
}
.auth-form {
    max-width: 400px;
    margin: 20vh auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form h1 {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333;
}

.auth-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.auth-form button[type="button"], .registration-form button[type="button"]{
    position: relative;
    left: 168px;
    top: -39px;
}
.auth-form button[type="button"] img, .registration-form button[type="button"] img{
    width: 50px;
}

.auth-form button[type="submit"] {
    width: 96%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.auth-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.auth-form .error-message {
    color: #ff0000;
    margin-bottom: 20px;
}
.background-form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.f-group-profile{
    display: flex;
    justify-content: center;
}
.s-group-profile{

    justify-content: center;    
}
.liked-books {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-top: 20px;
}
.card-like{
    padding: 20px 30px;
    width: 160px;
    height: 300px;
    flex: 0 0 auto;
}
.card-like a img{
    height:240px;
    width: 100%;
}
.logout-link {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ff4500;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

}

.logout-link:hover {
    background-color: #8b4444;
}

.update {
    padding: 20px;
    margin-left: 200px;
}

.update form {
    margin-top: 20px;
}

.update form button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0 10px 0
}

.update form button[type="submit"]:hover {
    background-color: #0056b3;
}
.registration-form {
    max-width: 400px;
    margin: 20vh auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h1 {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333;
}

.registration-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.registration-form input[type="text"],
.registration-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registration-form button[type="submit"] {
    width: 96%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.registration-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.registration-form .error-message {
    color: #ff0000;
    margin-bottom: 20px;
}
.comment-profile{
    display: flex;
}
.comment-profile a img{
    border-radius: 20px;
}
.comment-delete{
    color: red;
}
.comment textarea{
    height: 80px;
    width: 400px;
    max-width: 1038px;
}
.comment{
    word-wrap: break-word;
}
/* Стилизация пагинации */
.pagination {
    margin-top: 20px;
    margin-left: 40px;
    text-align: center;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
}

.pagination ul li {
    display: inline;
    margin-right: 5px;
}

.pagination ul li a,
.pagination ul li p {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
}

.pagination ul li a.active {
    background-color: #007bff;
    color: #fff;
}

.pagination ul li a:hover {
    background-color: #ddd;
}

.pagination ul li p {
    background-color: #ddd;
    cursor: default;
}
.book_scroll{
    position: fixed;
}
.download_links{
    position: fixed;
}
#copyForm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#copyForm {
    display: none; 
    background: rgba(0, 0, 0, 0.5);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}

#copyForm input[type="button"] {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#copyForm textarea {
    width: 30%;
    height: 33px;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.support{
    display: flex;
    justify-content: flex-end;
    color: #000000;
}
.back1{
    background-color: #5757e4;
    width: 100%;
    height: 30px;
}
.genres-container {
    margin-bottom: 20px;
}

.genre-link {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.genre-link:hover {
    color: #555;
}

.types-container {
    margin-bottom: 20px;
}

.type-link {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.type-link:hover {
    color: #555;
}
.line-grey{
    background-color:#8e9b9f;
    height:5px;
    width: 400px;
}
.home{
    padding: 10px 15px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.home:hover{
    border: 1px solid #014792;
    background-color: #014792;
}

/* CSS для формы связи */
#contactForm {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
}

#contactForm h2 {
    text-align: center;
}

#contactForm .form-group {
    margin-bottom: 15px;
}

#contactForm label {
    display: block;
    margin-bottom: 5px;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contactForm button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#contactForm button:hover {
    background-color: #45a049;
}

#contactForm button:active {
    background-color: #3e8e41;
}

.hidden {
    display: none;
}

#showFormSup {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.search_page_btns{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff; /* Цвет текста */
    background-color: #007bff; /* Цвет фона */
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.search_page_btns:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

.search_page_btns:active {
    background-color: #004187; /* Цвет фона при активации (нажатии) */
}