{% extends 'book_storage/base.html' %}
{% load static %}
{% block content %}
<h1>Профиль</h1>
    {% if user.avatar %}
    <img src="{{ user.avatar.url }}" width="100px" style="border-radius: 50px">
    {% else %}
    <img src="{% static 'book_storage/images/default.jpg' %}" width="100px" style="border-radius: 50px">
    {% endif %}

<h2>@{{ user.username }}</h2>
<h2>Имя: {{ user.nickname }}</h2><br>


<h3>Список отложенных книг</h3>
<div class="liked-books">
    {% if lk_books %}
    {% for lk_book in lk_books %}
        <a href="{% url 'book_page' lk_book.liked_book.id %}"><img src="{{lk_book.liked_book.book_image.url}}" width="150"></a><br>
    {% endfor %}
    {% else%}
    <p>У пользователя нет отложенных книг</p>
    {% endif %}
</div>
<br>

{% endblock %}