{% extends 'book_storage/base.html' %}
{% load static %}
{% block content %}
<style>
    .footer{display: none}
 </style>
<div class="background-form">
    <form class="registration-form" method="post">
        <div style="display: flex;">
        <h1 class="registration-title">Регистрация</h1>
        <button type="button" onclick="history.go(-2);">
            <img src="{% static 'book_storage/images/cancel.png' %}">
        </button>
    </div>
        {% csrf_token %}
        <div>
            <label class="registration-label">Логин</label>
            {{form.username}}
        </div>
        <div>
            <label class="registration-label">Пароль</label>
            {{form.password1}}
        </div>
        <div>
            <label class="registration-label">Пароль ещё раз</label>
            {{form.password2}}
        </div>
        <div>
            {{form.username.errors}}
            {{form.password2.errors}}
        </div>

        <p><button class="registration-button" type="submit">Сохранить</button></p>
        <a class="registration-link" href="{% url 'users:login' %}">Есть аккаунт?</a>
    </form>
</div>
{% endblock %}
