{% extends 'book_storage/base.html' %}
{% load static %}
{% block content %}

<div>
    <h1>О проекте</h1>
    <p>Lorem</p>
</div>
<div>
    <h2>Наш стек и планы</h2>
    <p>Мы взяли такие технологии, как: Python 3.11, django 3, SQLite3, pillow</p>
    <p>Возможности расширения и маштабирования: Перейти субд на Posgresql, подключить React-JS, использовать систему
        быстрого хранения данных - Redis, подключить Docker или Kubernetes для контроля продукта и обработки
        почтовых клиентов.</p>
</div>
<div>
    <img src="{% static 'book_storage/images/max-t.jpg' %}" alt="Default photo" height='300px'>
    <h2>Максим</h2>
    <p>Python-web разработчик.</p>
</div>
<div>
    <img src="{% static 'book_storage/images/solo-t.jpg' %}" alt="Default photo" height='300px'>
    <h2>Леонид - Повелитель Мкага</h2>
    <p>Держит весь it-отдел Мкага в страхе. Выше Леонида по должности только Лёня :)</p>
    <p>Ведущий js developer, освоил в совершенстве такие теги, как: p, h1, h2. Знает, что такое медиа-контент.
        Застал web2, основал web3. Уже в 13 лет, написал первый сайта на haskell. Также, освоил сетевые протоколы и
        devops-технологии, ведь этот человек хостит сервер майнкрафт у себя дома.</p>
    <p>У Леонида есть свой штат сотрудников. Его штат состоит из 1 человека - его брата. Однажды, Леонид попросил своего
        брата включить майнкрафт сервер, но брат его не послушал. Тогда Леонид, как истинный лидер, пошел разбераться с
        ним.</p>
    <p>Стек Леонида: JS, Python, SQL, NoSQL, SQLite3, Posgresql, MySQL, MSSQL, PHP, C#, HTML, CSS, Java, Devops,
        Microsoft Office, VScode, обучение нейросетей, создание web-игр, Blockchain, арбитраж и Telegram</p>
    <p>Мечта Леонида - оставить Мкаг преемнику.</p>
    <p>Мечта Лёни - чтобы сборка майнкрафта запускалась с первого раза.</p>
    <p>Мечта Солонина - танцевать на сцене в skinny-jeans </p>
</div>
<div>
    <h2>Проект создан при поддержке ttw (сделать отделяющую линию)</h2>
    <h3>Что такое Time to work? - закрытый ведущий дискорд сервер для разработчиков.</h3>
    <p>На данный момент (07.03.2024), ttw насчитывает 7 участников в разных сферах деятельности, которые могут покрыть
        многие задачи современного рынка. Ttw анализирует и понимает тенденции it-сферы и гибко подстраивается под
        них. Ttw сейчас ведет активную разработку, опираясь на стандарты web2 и инновации web3 рынков. Что позволяет
        оставаться в топе, относительно других разработчиков Мкага.</p>
</div>

{% endblock %}