{% extends 'book_storage/base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'book_storage/js/author.js' %}"></script>
<div class="author_page">
<div class="author_img">
    {% if author.photo %}
        <img src="{{ author.photo.url }}" alt="{{ author.fio_author }} photo" height='300px'>
    {% else %}
        <img src="{% static 'book_storage/images/default.jpg' %}" alt="Default photo" height='300px'>
    {% endif %}
  </div>
  <div class="author_info">
    <h1>{{ author.fio_author }}</h1>
    <p>{{ author.biography }}</p>
  </div>
</div>
<h2 style="padding-left: 2%;">Книги, которые написал {{ author.fio_author }}:</h2>
<div class="container_books">
    <button class="slider__btn_prev"><img src="{% static 'book_storage/images/arrow-left.jpg' %}" style="width: 16px"></button>
    <div class="books_list">  
        {% for book_card in books %}
        {% if book_card.is_published %}
            <div class="card">
                <a href="{% url 'book_page' book_card.id %}"><img src="{{ book_card.book_image.url }}" alt="{{ book_card.title }} cover"></a>
                <div class="card-body">
                    <h3 class="card-text"><a href="{% url 'book_page' book_card.id %}">{{ book_card.title }}</a></h3>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <button class="slider__btn_next"><img src="{% static 'book_storage/images/arrow-right.jpg' %}" style="width: 16px"></button>
</div>

{% endblock %}
