{% extends 'book_storage/base.html' %}
{% load static %}

{% block content %}

{% for author in authors %}
<div class="author_img">
    {% if author.photo %}
    <a href="{% url 'author_page' author.id %}">
        <img src="{{ author.photo.url }}" alt="{{ author.fio_author }} photo" height='300px'></a>
    {% else %}
    <a href="{% url 'author_page' author.id %}"><img src="{% static 'book_storage/images/default.jpg' %}"
                                                      alt="Default photo" height='300px'></a>
    {% endif %}
  </div>
<div class="author_info">

    <h1><a href="{% url 'author_page' author.id %}">{{ author.fio_author }}</a></h1>
    <p>{{ author.biography }}</p>

  </div>
{% endfor %}




{% endblock %}