{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'book_storage/css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
{% block main_menu %}
<div class="back_head" style="background-color: #333;">
<header class="main-header">
    <div class="logo">
        <a  href="{% url 'home'  %}">
        <img src="{% static 'book_storage/images/logo.png' %}">
        </a>
    </div>
    <nav class="main-nav">
        <ul>
            {% for elem in menu %}
            <li><a href="{% url elem.1  %}">{{ elem.0 }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <form>
    <div class="header_search">
        <input type="search" class="header_search_input" placeholder="Искать" value="">
        <button type="submit" class="header_search_button">Найти</button>
    </div>
</form>
    <figure>
        <a href="{% url 'users:profile' %}">
            {% if request.user.is_authenticated and user.avatar%}
                    <img src="{{ request.user.avatar.url }}" width="50px" style="border-radius: 50px">
            {% else %}
            <img src="{% static 'book_storage/images/default.jpg' %}" width = "50px" style="border-radius: 50px" >
            {% endif %}
        </a>

    </figure>
</header>
</div>
<div class="box_main">
{% endblock main_menu %}


{% block content %}

{% endblock %}
</div>{% comment %} <footer>
    <p>Компания *****. Все права защищены.</p>
</footer> {% endcomment %}
<script src="{% static 'book_storage/js/main.js' %}"></script>
</body>
</html>