{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'book_storage/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'book_storage/css/style.css' %}">
    <script src="{% static 'book_storage/js/base.js' %}"></script>
    <title>{{ title }}</title>
</head>
<body>
    <div class="wrapper">
{% block main_menu %}
<header class="back_head" style="background-color: #333;">
<div class="header">
    <div class="logo">
        <a  href="{% url 'home'  %}">
        <img src="{% static 'book_storage/images/logo.png' %}">
        </a>
    </div>
    <nav class="main-nav">

        <ul>

            <li><button type="button" onclick="showModal()">Жанры</button></li>
            {% for elem in menu %}
            <li><a href="{% url elem.1  %}">{{ elem.0 }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <form action="{% url 'search' %}">
    <div class="header_search">
        <input type="search" class="header_search_input" placeholder="Искать" value="" name="search-all">
        <button type="submit" class="header_search_button">Найти</button>
    </div>
</form>
    <figure>
        <a href="{% url 'users:profile' %}">
            {% if request.user.is_authenticated and request.user.avatar%}
                    <img src="{{ request.user.avatar.url }}" width="50px" style="border-radius: 50px">
            {% else %}
            <img src="{% static 'book_storage/images/default.jpg' %}" width = "50px" style="border-radius: 50px" >
            {% endif %}
        </a>
    </figure>
</div>
<div class="dialog-overlay" onclick="hideModal()">
    <div class="dialog-content" onclick="event.stopPropagation()">
        <div class="gen">
            <h4>Жанры</h4>
            {% for genre_all in genres_all|slice:":10" %}
                <a href="{% url 'home_genre' genre_all.id %}">{{ genre_all.genre }}</a><br>
            {% endfor %}
        </div>
        <div class="type">
            <h4>Тип книг</h4>
            {% for type_all in types_all|slice:":10" %}
                <a href="{% url 'home_type' type_all.id %}">{{ type_all.type_of_book }}</a><br>
            {% endfor %}
        </div>
            <a href="{% url 'tags_page' %}">Все теги</a>
    </div>
</div>
</header>
{% endblock main_menu %}
<main class="content">

{% block content %}

{% endblock %}
</main>
<footer class="back_head" style="background-color: #333;">
 <div class="footer">
    <p>Online library. Все права не защищены.</p>   
 </div></footer>
</div>
</body>
</html>