{% extends 'book_storage/base.html' %}

{% block content %}
<ul>
    {%for book_card in books%}
    {% if book_card.is_published %}
    <li>
        <a href="{% url 'book_page' book_card.id %}"><img src="{{ book_card.book_image.url }}" alt="book img"></a>
        <a href="{% url 'book_page' book_card.id %}"><h2>{{ book_card.title }}</h2></a>
        <a href="{% url 'author_page' book_card.id_author.id %}">{{ book_card.id_author }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}