{% extends 'book_storage/base.html' %}
{% block content %}
<div style="display:flex">
<div class="genres-container">
    <h4>Жанры</h4>
    {% for genre in genres %}
        <a href="{% url 'home_genre' genre.id %}" class="genre-link">{{ genre.genre }}</a>
    {% endfor %}
</div>

<div class="types-container">
    <h4>Тип книг</h4>
    {% for type in types %}
        <a href="{% url 'home_type' type.id %}" class="type-link">{{ type.type_of_book }}</a>
    {% endfor %}
</div>
</div>

{% endblock %}
